<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Microsoft.OpenApi" version="1.2.3" targetFramework="net6.0" />
    <package id="NodaTime" version="3.0.10" targetFramework="net6.0" />
    <package id="NodaTime.Serialization.SystemTextJson" version="1.0.0" targetFramework="net6.0" />
    <package id="Swashbuckle.AspNetCore" version="6.3.0" targetFramework="net6.0" />
    <package id="Swashbuckle.AspNetCore.SwaggerGen" version="6.3.0" targetFramework="net6.0" />
    <package id="xunit" version="2.4.2-pre.12" targetFramework="net6.0" />
</packages>